*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
            font-family: Arial, sans-serif;
            
}

.l {
        background: linear-gradient(-46deg, yellow, #e73c7e, #23a6d5, #23d5ab, #23a6b1);
        background-size: 1000% 1000%;
        animation: gradient 19s ease infinite;
        padding: 160px;
        text-align: center;
    } 

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
    
@keyframes bg {
    0%{ transform: scale(1.2);}
    100%{ transform: scale(1.3);}
}



h1{
            font-size: 55px;
            text-align: center;
            align-items: center;
}

.dashboard {
            display: flex;
            justify-content: space-around;
            margin: 20px;
}

.widget {
            border: 6px solid black;
            background-color: aliceblue;
            padding: 30px;
            margin: 25px;
            flex: 1;
            font-size: 22px;
}
input{
            font-size: 20px;
            border: 2px solid black;
}

ul{
            font-size: 20px ;
            text-decoration: none;
            list-style-type: none;
}

button {
            margin-top: 15px;
            font-size: 20px;
}

.delete-button {
    padding-left: 8px;
            color: red;
            cursor: pointer;
            font-style: italic;
}

img {
            max-width: 100%;
            max-height: 150px;
            margin-top: 10px;
        }

        button:hover {
    background-color: black; /* Change the color to your desired hover effect */
    color: white; /* Change the text color for better contrast */
}

/* Style for the delete button wrapper */
.delete-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

/* Style for the delete button itself */
#deleteImageButton {
    font-size: 18px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#deleteImageButton:hover {
    background-color: darkred;
}
